h1 {
    color: #fff; 
    border-bottom: #333; 
    /*border: 2px solid black; */
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; 
    text-align: center;
    padding: 0.5em;
    color: #fff;
}

#divBusqueda {
    text-align: center;
		margin-bottom: 1%;
}

form {
    font-weight: 300;
    color: #fff;
    font-size: 1em;
    padding: 1em;
    display: inline-block;
}

input[type=text] {
    width: 100%;
    padding: 2px 5px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 300;
}

form #textBox {
    height: 2em;
    width: 18em;
}

#btnSubmit, #btnClean {
    width: 5em;
    height: 2.5em;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

#btnSubmit:hover, #btnClean:hover {
    background-color: #000;
    color: #fff;
}

#inputCalendario {
	position: absolute;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin-top: -5%;
	margin-left: 60%;
}

#inputCalendario img {
	width: 5em;
	height: 5em;
  margin: auto;
  object-fit: contain;
}

#inputCalendario img:hover {
	cursor: pointer;
}

.fechaImg {
	margin-left: 0.675em;
	font-weight: bold;
}

.tablaCalendario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.calendario {
  max-width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
  font-weight: 800;
  width: 100%;
}

.calendario th,
.calendario td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.calendario th {
  background-color: #eee;
  font-weight: bold;
}

table.calendario td:empty {
  pointer-events: none;
}

.calendario td:hover:not(empty) {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

